Data-Engineering-Material/Data Engineering/adf-pipelines/customer-data-pipeline.json
{
    "name": "Banking_Customer_Data_Pipeline",
    "properties": {
        "description": "End-to-end customer data onboarding, validation, and enrichment pipeline for banking",
        "activities": [
            {
                "name": "Data_Ingestion_Activity",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "RestSource",
                        "httpRequestTimeout": "00:01:40",
                        "requestInterval": "00.00:00.00.250"
                    },
                    "sink": {
                        "type": "AzureBlobFSSink",
                        "copyBehavior": "PreserveHierarchy"
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "type": "String",
                                    "ordinal": "1"
                                },
                                "sink": {
                                    "type": "String",
                                    "ordinal": "1"
                                }
                            }
                        ]
                    }
                },
                "inputs": [
                    {
                        "referenceName": "CustomerDataAPI",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "RawZoneDataset",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Data_Validation_Activity",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Data_Ingestion_Activity",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Shared/DataValidation/CustomerDataValidation",
                    "baseParameters": {
                        "storage_account": {
                            "value": "@pipeline().parameters.storageAccount",
                            "type": "Expression"
                        },
                        "environment": {
                            "value": "@pipeline().parameters.environment",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Data_Enrichment_Activity",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Data_Validation_Activity",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Shared/DataEnrichment/CustomerEnrichment",
                    "baseParameters": {
                        "storage_account": {
                            "value": "@pipeline().parameters.storageAccount",
                            "type": "Expression"
                        },
                        "environment": {
                            "value": "@pipeline().parameters.environment",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Delta_Table_Load_Activity",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Data_Enrichment_Activity",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Shared/DeltaLoad/CustomerDeltaLoad",
                    "baseParameters": {
                        "storage_account": {
                            "value": "@pipeline().parameters.storageAccount",
                            "type": "Expression"
                        },
                        "environment": {
                            "value": "@pipeline().parameters.environment",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Data_Quality_Monitoring_Activity",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Delta_Table_Load_Activity",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Shared/Monitoring/DataQualityMonitoring",
                    "baseParameters": {
                        "storage_account": {
                            "value": "@pipeline().parameters.storageAccount",
                            "type": "Expression"
                        },
                        "environment": {
                            "value": "@pipeline().parameters.environment",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Send_Success_Notification",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Data_Quality_Monitoring_Activity",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@pipeline().parameters.successWebhookUrl",
                        "type": "Expression"
                    },
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "value": "{\"status\":\"success\",\"pipeline\":\"@pipeline().Pipeline\",\"execution_time\":\"@pipeline().RunId\",\"message\":\"Customer data pipeline completed successfully\"}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Send_Failure_Notification",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Data_Ingestion_Activity",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    },
                    {
                        "activity": "Data_Validation_Activity",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    },
                    {
                        "activity": "Data_Enrichment_Activity",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    },
                    {
                        "activity": "Delta_Table_Load_Activity",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    },
                    {
                        "activity": "Data_Quality_Monitoring_Activity",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@pipeline().parameters.failureWebhookUrl",
                        "type": "Expression"
                    },
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "value": "{\"status\":\"failure\",\"pipeline\":\"@pipeline().Pipeline\",\"execution_time\":\"@pipeline().RunId\",\"error\":\"@activity('Data_Ingestion_Activity').error.message\"}",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "storageAccount": {
                "type": "string",
                "defaultValue": "bankingdatalake"
            },
            "environment": {
                "type": "string",
                "defaultValue": "dev"
            },
            "successWebhookUrl": {
                "type": "string"
            },
            "failureWebhookUrl": {
                "type": "string"
            }
        },
        "variables": {
            "executionDate": {
                "type": "String"
            }
        },
        "annotations": [
            "Banking Customer Data Pipeline",
            "Data Validation",
            "Data Enrichment",
            "Delta Tables"
        ]
    }
} 